{% extends 'base.html' %} 

{% load static %} 

{% block content %}


    <div class="bg-light py-3 pt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="{% url '' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">

            <div class="row mb-5">
                <div class="col-lg-9 order-2 order-lg-1">

                    <div class="row align">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left">
                                <h2 class="text-black h5">Shop All</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        <div class="products-wrap border-top-0">
                            <div class="container-fluid">
                                <div class="row no-gutters products">

                                    {% for p in all_products %}
                                        <div class="col-6 col-md-6 col-lg-6 border-top">

                                            {%if p.image %}
                                                <img src="{{p.image.cdn_url}}" alt="Image" class="img-fluid"> 
                                            {%endif%}

                                            <div class="item-info text-dark">
                                                <h3>{{p.name}}</h3>
                                                <h5 class="collection d-block text-secondary">{{p.category}} Collection</h5>
                                                <span class="collection d-block">{{p.material}}</span>
                                                <span class="collection d-block">{{p.size}}</span><br>
                                                <h4 class="price">${{p.price|floatformat:2}}</h4>
                                                <p><a href="/cart/add/{{p.id}}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p><br>

                                                {% if user.is_authenticated and user.is_superuser %}
                                                    <p><a href="{% url 'update_products' products_id=p.id %}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Update Product</a></p>
                                                    <p><a href="{% url 'delete_products' products_id=p.id %}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Delete Product</a></p><br>
                                                {% endif %}

                                            </div>
                                            
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    {% if all_products.has_previous %}
                                        <li><a href="?page={{all_products.previous_page_number}}">&lt;</a></li>
                                    {% else %}
                                        <li><a href="#">&lt;</a></li>
                                    {% endif %}
                                    
                                    <li class="active"><span>{{all_products.number}}</span></li>
                                    
                                    {% if all_products.has_next %}
                                        <li><a href="?page={{all_products.next_page_number}}">&gt;</a></li>
                                    {% else %}
                                        <li><a href="#">&gt;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3 order-1 order-lg-2 mb-5 mb-lg-0">

                    <div class="border p-4 mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1"><a href='{% url "show_products" category="MEN" %}' class="d-flex"><span>Men</span></a></li>
                            <li class="mb-1"><a href='{% url "show_products" category="WOMEN" %}' class="d-flex"><span>Women</span></a></li>
                            <li class="mb-1"><a href='{% url "show_products" category="KIDS" %}' class="d-flex"><span>Kids</span></a></li>
                        </ul>
                    </div>

                    <div class="border p-4 mb-4">
                        <div class="mb-4">

                            <form id="price_filter">
                                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                                <div id="slider-range" class="border-primary"></div>
                                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
                                <input type="hidden" name="min_price" id="min_amount" value="{{min_price}}" />
                                <input type="hidden" name="max_price" id="max_amount" value="{{max_price}}" />
                            </form>

                        </div>
                    </div>

                    <div>
                        {% if user.is_authenticated and user.is_superuser %}

                        <p><a href="{% url 'create_products' %}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add New Product</a></p>

                        {% endif %}
                    </div>
                    
                </div>
            </div>

        </div>
    </div>

{% endblock %}